.DS_Store
.idea
.vscode
node_modules
src
test
coverage
.nyc_output
.coveralls.yml
.eslintignore
.eslintrc
.gitignore
.npmignore
.prettierignore
.prettierrc
.travis.yml
rollup.config.js
tsconfig.json

